Project2/gmm_cov.npy
Project2/gmm_labels.npy
Project2/gmm_X.npy
Project2/gmm_mu.npy
scratch.py
Project2/release_gene_analysis_data.tar.gz
Project2/data/._.DS_Store
Project2/data/._gene_names
Project2/data/._p1
Project2/data/._p2_evaluation
Project2/data/._p2_evaluation_reduced
Project2/data/._p2_unsupervised
Project2/data/._p2_unsupervised_reduced
Project2/data/.DS_Store
Project2/data/gene_names/._genes.csv
Project2/data/gene_names/genes.csv
Project2/data/p1/._X.npy
Project2/data/p1/._y.npy
Project2/data/p1/X.npy
Project2/data/p1/y.npy
Project2/data/p2_evaluation/._X_test.npy
Project2/data/p2_evaluation/._X_train.npy
Project2/data/p2_evaluation/._y_test.npy
Project2/data/p2_evaluation/._y_train.npy
Project2/data/p2_evaluation/X_test.npy
Project2/data/p2_evaluation/X_train.npy
Project2/data/p2_evaluation/y_test.npy
Project2/data/p2_evaluation/y_train.npy
Project2/data/p2_evaluation_reduced/._X_test.npy
Project2/data/p2_evaluation_reduced/._X_train.npy
Project2/data/p2_evaluation_reduced/._y_test.npy
Project2/data/p2_evaluation_reduced/._y_train.npy
Project2/data/p2_evaluation_reduced/X_test.npy
Project2/data/p2_evaluation_reduced/X_train.npy
Project2/data/p2_evaluation_reduced/y_test.npy
Project2/data/p2_evaluation_reduced/y_train.npy
Project2/data/p2_unsupervised/._X.npy
Project2/data/p2_unsupervised/X.npy
Project2/data/p2_unsupervised_reduced/._X.npy
Project2/data/p2_unsupervised_reduced/X.npy
Project2/._data
